body {
  margin: 1em 3em;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 1px;
  border: none;
  background-color: #ccc;
}

h1 {
  font-weight: 900;
  line-height: 1.25;
}

a {
  color: blue;
}

a:hover {
  color: red;
}
